@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{

}
#logo{
    width: 100px;
    height: 5vh;
}
#hero{
    background-image: url('/static/images/netflix-cover.jpg');
    height: 100vh;
    /* width: 100%; */
    
}
#button-addon2{
    background-color: #e2402c;
    color: #fff;

}
#heading{
    font-weight: bold;
    font-size: 9vh;
    color: #fff;
}
#paragraph-header{
    font-size: 5vh;
    color: #fff;
}
#input{
    width: 60%;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   
}
#row2{
    background-color: #000;
    width: 100%;
    /* margin-left: -16px; */
}
#section{
    /* padding: 8%; */

}
#heading2{
    font-size: 8vh;
    font-weight: bold;
    /* padding: 10%; */
    color: #fff;

}
#paragraph2{
    font-size: 5vh;
    color: #fff;

}
.horizontal{
    /* border: 4px solid grey; */
}
.headline{
    color: #fff;
}
#register-page{
    background-image: url('/static/images/netflix-cover.jpg');
    height: 150vh;
    color: #fff;
    font-size: 3.5vh;
    width: 100%;

}
#register-btn{
    background-color: #e2402c;
    color: white;
}
#register-btn:hover{
    background-color: #fff;
    color: #e2402c;
    outline: 2px solid #000;
}
.fonts{
    color: #e2402c;
    font-size: large;
}
.modal-content{
    background-image: linear-gradient(to right top, #000000, #3a161e, #711f2c, #ab2c31, #e2402c);
    color: #fff;
    
}
