@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#logo{
    width: 100px;
    height: 5vh;
}
#hero{
    background-image: url('/static/images/netflix-cover.jpg');
    height: 100vh;
   
    
}
#nav{
    /* position: absolute; */
    background-color: transparent;
}
#button-addon2{
    background-color: #e2402c;
    color: #fff;

}
#heading{
    font-weight: bold;
    font-size: 9vh;
    color: #fff;
}
#paragraph-header{
    font-size: 5vh;
    color: #fff;
}
#input{
    width: 60%;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   
}
#row2{
    background-color: #000;
    
}
#padding-left{
    padding-left: 4%;
}

#heading2{
    font-size: 8vh;
    font-weight: bold;
    /* padding: 10%; */
    color: #fff;

}
#paragraph2{
    font-size: 4vh;
    color: #fff;

}

.headline{
    color: #fff;
}
#register-page{
    background-image: url('/static/images/netflix-cover.jpg');
    height: 150vh;
    color: #fff;
    font-size: 3.5vh;
    width: 100%;

}
#register-btn{
    background-color: #e2402c;
    color: white;
}
#register-btn:hover{
    background-color: #fff;
    color: #e2402c;
    outline: 2px solid #000;
}
.fonts{
    color: #e2402c;
    font-size: large;
}
.modal-content{
    background-image: linear-gradient(to right top, #000000, #3a161e, #711f2c, #ab2c31, #e2402c);
    color: #fff;
    
}
#login-form{
    color: #fff ;
	border-radius: 4px;
	background: #000000;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 3%;
    opacity: 0.9;
}
#form{
    color: #fff ;
	border-radius: 4px;
	background: #000000;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 3%;
    opacity: 0.9;
}
#form .input-group-text{
    width: 100%;
}
#ml-auto .nav-item .btn{
    /* position: relative; */
    float: right;
}
#section{
    border-top: 7px solid grey;
    padding-top: 7%;
    padding-bottom: 5%;

}
#recoomendations{
    color:#000;
    font-size: 3vh;
    text-decoration: none;
    list-style-type: none;
}
#section2{
    border-top: 7px solid grey;
    padding-top: 7%;
    padding-bottom: 5%;
}
#girl-jpg{
    margin-top:-4%;
}
#heading3{
    font-size: 6vh;
    color: #fff;
    font-weight: bold;
}
#padding-left-left{
    margin-left: 15%;
    padding-top: 3%;
}
#section3{
    padding-left: 5%;
    padding-top: 8%;
    padding-bottom: 5%;
    border-top: 7px solid grey;
    border-bottom: 7px solid grey;
}
#stream, #watch{
    color: #fff;
}
#stream{
    font-size: 4vh;
}
#watch{
    font-size: 8vh;
    font-weight: bold;
}
#section4{
    border-bottom: 7px solid grey;
    padding-top: 7%;
    padding-bottom: 5%;

}
#padding-same{
    padding-top: 10%;

}
#app{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 4vh;
}
#section5{
    border-bottom: 7px solid grey;
    padding-top: 7%;
    padding-bottom: 3%;
    line-height: 2.0;

}
#heading11{
    color: #fff;
    font-size: 8vh;
    font-weight: bold;
}

#frequent{
    color: #fff;
    padding: 3%;
    font-weight: bold;
    font-size: 8vh;
}
.quiz{
    height: 14vh;
    width: 100%;
    background-color: #303030;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}
.quiz p{
    color: #fff;
    font-size: 5vh;
    padding-top:1.5% ;
    padding-left: 2%;
}
.quiz #plus{
    color: #fff;
    font-size: 5vh;
    padding-top:3% ;
    padding-right: 2%;
    font-weight: bold;


}