@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* *{
    font-family: 'Bebas Neue', cursive;
} */
*{
    /* color: #fff; */
}

#logo{
    width: 100px;
    height: 5vh;
}
#hero{
    background-image: url('/static/images/netflix-cover.jpg');
    height: 100vh;
    width: 100%;
    
}
#button-addon2{
    background-color: #e2402c;
    color: #fff;

}
#heading{
    font-weight: bold;
    font-size: 9vh;
    color: #fff;
}
#paragraph-header{
    font-size: 5vh;
    color: #fff;
}
#input{
    width: 60%;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   
}
/* #nav{
    /* position: absolute; 
    
}
#ml-auto{
     position: absolute;
    float: right;
} */ 
#row2{
    background-color: #000;
}
#section{
    padding: 8%;

}
#heading2{
    font-size: 8vh;
    font-weight: bold;
    /* padding: 10%; */
    color: #fff;

}
#paragraph2{
    font-size: 5vh;
    color: #fff;

}
.horizontal{
    border: 4px solid grey;
}
#headline{
    color: #fff;
}